*{
  box-sizing: border-box;
}
body {
  background-color: #d2dbdc;
  margin: 0;
  font-family: 'Segoe UI', Helvetica Neue, Helvetica, Lucida;
}

.app-window {
  display: flex;
  height: 100vh;
  background-color: #ededed;
}

.sidebar {
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

header {
  height: 60px;
  display: flex; /*para que um item fique do lado do outro*/
  justify-content: space-between;
  align-items: center; /* centraliza de forma vertical os itens */
  padding: 0 15px;
}

.header--avatar {
  width: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.header--buttons {
  display: flex;
}

.header--btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search {
  background-color: #f6f6f6;
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}

.search--input {
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search--input input {
  flex: 1; /* para ele pegar todo espaço disponível (alonga o input) */
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
}

.chatlist {
  flex: 1;
  background-color: #fff;
  overflow-y: auto; 
}

/*css da barra de rolagem*/
.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/*css da barra de rolagem*/
.chatlist::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.contentarea {
  flex: 1; /*pro content area pegar todo espaço disponível*/
}